@font-face {
    font-family: 'sfns_displayultralight';
    src: url('system_san_francisco_display_ultralight-webfont.eot');
    src: url('system_san_francisco_display_ultralight-webfont.eot?#iefix') format('embedded-opentype'),
         url('system_san_francisco_display_ultralight-webfont.woff2') format('woff2'),
         url('system_san_francisco_display_ultralight-webfont.woff') format('woff'),
         url('system_san_francisco_display_ultralight-webfont.ttf') format('truetype'),
         url('system_san_francisco_display_ultralight-webfont.svg#sfns_displayultralight') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'sfns_textitalic';
    src: url('system_san_francisco_text_regularitalic-webfont.eot');
    src: url('system_san_francisco_text_regularitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('system_san_francisco_text_regularitalic-webfont.woff2') format('woff2'),
         url('system_san_francisco_text_regularitalic-webfont.woff') format('woff'),
         url('system_san_francisco_text_regularitalic-webfont.ttf') format('truetype'),
         url('system_san_francisco_text_regularitalic-webfont.svg#sfns_textitalic') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'system_fontregular';
    src: url('sfnstext-regular-webfont.eot');
    src: url('sfnstext-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('sfnstext-regular-webfont.woff2') format('woff2'),
         url('sfnstext-regular-webfont.woff') format('woff'),
         url('sfnstext-regular-webfont.ttf') format('truetype'),
         url('sfnstext-regular-webfont.svg#system_fontregular') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'system_fontitalic';
    src: url('sfnstext-regularitalic-webfont.eot');
    src: url('sfnstext-regularitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('sfnstext-regularitalic-webfont.woff2') format('woff2'),
         url('sfnstext-regularitalic-webfont.woff') format('woff'),
         url('sfnstext-regularitalic-webfont.ttf') format('truetype'),
         url('sfnstext-regularitalic-webfont.svg#system_fontitalic') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'system_fontsemibold';
    src: url('sfnstext-semibold-webfont.eot');
    src: url('sfnstext-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('sfnstext-semibold-webfont.woff2') format('woff2'),
         url('sfnstext-semibold-webfont.woff') format('woff'),
         url('sfnstext-semibold-webfont.ttf') format('truetype'),
         url('sfnstext-semibold-webfont.svg#system_fontsemibold') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'system_fontsemibold_italic';
    src: url('sfnstext-semibolditalic-webfont.eot');
    src: url('sfnstext-semibolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('sfnstext-semibolditalic-webfont.woff2') format('woff2'),
         url('sfnstext-semibolditalic-webfont.woff') format('woff'),
         url('sfnstext-semibolditalic-webfont.ttf') format('truetype'),
         url('sfnstext-semibolditalic-webfont.svg#system_fontsemibold_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'sfns_displaybold';
    src: url('system_san_francisco_display_bold-webfont.eot');
    src: url('system_san_francisco_display_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('system_san_francisco_display_bold-webfont.woff2') format('woff2'),
         url('system_san_francisco_display_bold-webfont.woff') format('woff'),
         url('system_san_francisco_display_bold-webfont.ttf') format('truetype'),
         url('system_san_francisco_display_bold-webfont.svg#sfns_displaybold') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'sfns_displaythin';
    src: url('system_san_francisco_display_thin-webfont.eot');
    src: url('system_san_francisco_display_thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('system_san_francisco_display_thin-webfont.woff2') format('woff2'),
         url('system_san_francisco_display_thin-webfont.woff') format('woff'),
         url('system_san_francisco_display_thin-webfont.ttf') format('truetype'),
         url('system_san_francisco_display_thin-webfont.svg#sfns_displaythin') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'sfns_textbold_italic';
    src: url('system_san_francisco_text_bolditalic-webfont.eot');
    src: url('system_san_francisco_text_bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('system_san_francisco_text_bolditalic-webfont.woff2') format('woff2'),
         url('system_san_francisco_text_bolditalic-webfont.woff') format('woff'),
         url('system_san_francisco_text_bolditalic-webfont.ttf') format('truetype'),
         url('system_san_francisco_text_bolditalic-webfont.svg#sfns_textbold_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'sfns_textmediump4';
    src: url('system_san_francisco_text_medium-webfont.eot');
    src: url('system_san_francisco_text_medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('system_san_francisco_text_medium-webfont.woff2') format('woff2'),
         url('system_san_francisco_text_medium-webfont.woff') format('woff'),
         url('system_san_francisco_text_medium-webfont.ttf') format('truetype'),
         url('system_san_francisco_text_medium-webfont.svg#sfns_textmediump4') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'sfns_textmedium_italic';
    src: url('system_san_francisco_text_mediumitalic-webfont.eot');
    src: url('system_san_francisco_text_mediumitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('system_san_francisco_text_mediumitalic-webfont.woff2') format('woff2'),
         url('system_san_francisco_text_mediumitalic-webfont.woff') format('woff'),
         url('system_san_francisco_text_mediumitalic-webfont.ttf') format('truetype'),
         url('system_san_francisco_text_mediumitalic-webfont.svg#sfns_textmedium_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'sfns_textitalic';
    src: url('system_san_francisco_text_regularitalic-webfont.eot');
    src: url('system_san_francisco_text_regularitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('system_san_francisco_text_regularitalic-webfont.woff2') format('woff2'),
         url('system_san_francisco_text_regularitalic-webfont.woff') format('woff'),
         url('system_san_francisco_text_regularitalic-webfont.ttf') format('truetype'),
         url('system_san_francisco_text_regularitalic-webfont.svg#sfns_textitalic') format('svg');
    font-weight: normal;
    font-style: normal;

}


html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

body {
	margin: 0px;
	padding: 0px;
	font-family: 'Segoe UI', Arial, Helvetica, sans-serif;
	font-size: 10.5pt;
	background-color: #ff4848;
	color: #404040;
}


h1, h2, h3 {
	margin: 0;
	padding: 0;
}

h2
{
	font-weight: 400;
	font-size: 1.5em;
}

h3
{
	font-weight: 500;
	font-size: 1.2em;
}

p, ol, ul {
	margin-top: 0px;
}

p {
	line-height: 180%;
}

strong {
}

a {
	color: #c41414;
	text-decoration:none;
}

b {
    font-family: 'sfns_displaythin', Fallback, sans-serif; 
}

a:hover {
	text-decoration: none;
}

a img {
	border: none;
}

img.border {
	border: 1px solid #fff;
}

.video {
border: 1px solid #fff;
}

img.alignleft {
	float: left;
	margin-right: 30px;
}

img.alignright {
	float: right;
}

img.aligncenter {
	margin: 0px auto;
}

hr {
	display: none;
}

#wrapper {
	position: relative;
	/*width: 1250px;*/
	min-height: 600px;
	margin-bottom: 0px;
	margin-top:75px;
}

#wrapper {
	overflow: hidden;
	margin-right: auto;
	margin-left: auto;
}

.container {
	width: 1250px;
	margin: 0px 0px 0 0;
}

.clearfix {
	clear: both;
}

#header-wrapper
{
	margin:0 0 0 0;
	overflow: hidden;
	height: 90px;
	margin-bottom: 5px;
	background: #000;
	position: relative;
}

#header {
	overflow: hidden;
}

#page {
	overflow: hidden;
}

#toplogo {
	margin: 0 auto;
}

IMG.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.content {
    font-family: 'sfns_displayultralight', Fallback, sans-serif; 
	margin: 0 auto;
	margin-top: 10px;
	width:600px;
	padding: 20px 10px 20px 20px;
	background: #F0F0F0;
    border-radius: 12px;
    
}

.content h2 a
{
	display: block;
	padding: 0px 0px 10px 0px;
	text-decoration: none;
	color: #FFFFFF;
}

.content #newsbox
{
	margin-bottom: 15px;
}

#footer {
	overflow: hidden;
    font-family: 'sfns_displayultralight', Fallback, sans-serif; 
	margin: 5px auto 0 auto;
	padding: 10px 0px 0;
	background: #000;
	width:auto;
	height: 55px;
}

#footer p {
    font-family: 'sfns_displayultralight', Fallback, sans-serif; 
	text-align: center;
	font-size: 16px;
}

#footer a {
}

ul.style2 {
	margin: 0px;
	padding: 10px 0px 0px 0px;
	list-style: none;
}

ul.style2 li {
	clear: both;
	margin-bottom: 25px;
	padding: 30px 0px 40px 0px;
	border-top: none;
	box-shadow: inset 0 1px 0 rgba(255,255,255,.10);
}

ul.style1 {
	margin: 0px;
	padding: 10px 0px 0px 0px;
	list-style: none;
}

ul.style1 li {
	clear: both;
	margin-bottom: 25px;
	padding: 30px 0px 5px 0px;
	border-top: 1px solid #000000;
	box-shadow: inset 0 1px 0 rgba(255,255,255,.10);
}

ul.style1 h3 {
	padding-bottom: 5px;
	font-size: 18px;
	color: #FFFFFF;
}

ul.style1 p {
	line-height: 150%;
}

ul.style1 .button-more {
	float: left;
	margin-top: 0px;
}

ul.style1 .maintext {
	padding-top: 0px;
	border-top: none;
	box-shadow: none;
}

ul.style3 {
	margin: 0px;
	padding: 0px 8px;
	list-style: none;
}

ul.style3 li {
	padding: 10px 0px 10px 0px;
	border-top: 1px solid #000000;
	box-shadow: inset 0 1px 0 rgba(255,255,255,.10);
}

ul.style3 a {
	text-decoration: none;
	color: #949494;
}

ul.style3 a:hover {
	text-decoration: none;
}

ul.style3 .sidebardeco {
	padding-top: 0px;
	border-top: none;
	box-shadow: none;
}

ul.style3 .date {
	width: 130px;
	background-color: #999999;
	margin-top: 20px;
	height: 24px;
	line-height: 24px;
	text-align: center;
	font-size: 16px;
	color: #FFF;
		-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border: 1px solid #666;
	padding: 3px;
}

ul.style3 .date
{
	margin-top: 0px;
}

.button-more
{
	display: block;
	background-color: #B0B0B0;
	text-decoration:none;
	margin-top: 20px;
	padding: 5px 30px;
	height: 24px;
	line-height: 24px;
	text-align: center;
	color: #FFF;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border: 1px solid #666;
	padding: 3px;
}
.button-more a:hover
{
	display: none;
	background-color: #000;
	margin-top: 20px;
	padding: 5px 30px;
	height: 24px;
	text-decoration:none;
	line-height: 24px;
	color: #000;
	-moz-border-radius: 12px;
	-webkit-border-radius: 12px;
	border: 4px solid #666;
	padding: 3px;
}


.entry
{
	margin-bottom: 30px;
}

.enjoy-css {
			  -webkit-box-sizing: content-box;
			  -moz-box-sizing: content-box;
			  box-sizing: content-box;
			  width: 161px;
			  margin: 5%;
			  padding: 20px;
			  overflow: hidden;
			  border: none;
			  -webkit-border-radius: 15px;
			  border-radius: 15px;
			  font: normal 16px/1 Verdana, Geneva, sans-serif;
			  color: rgb(255, 255, 255);
			  text-align: center;
			  -o-text-overflow: ellipsis;
			  text-overflow: ellipsis;
			  background: -webkit-linear-gradient(-225deg, rgb(255,124,124) 0, rgb(255,1,1) 100%), rgba(0,0,0,0);
			  background: -moz-linear-gradient(315deg, rgb(255,124,124) 0, rgb(255,1,1) 100%), rgba(0,0,0,0);
			  background: linear-gradient(315deg, rgb(255,124,124) 0, rgb(255,1,1) 100%), rgba(0,0,0,0);
			  background-position: 10% 10%;
			  -webkit-background-origin: padding-box;
			  background-origin: padding-box;
			  -webkit-background-clip: border-box;
			  background-clip: border-box;
			  -webkit-background-size: auto auto;
			  background-size: auto auto;
			  -webkit-box-shadow: 5px 5px 1px 1px rgba(0,0,0,0.298039) ;
			  box-shadow: 5px 5px 1px 1px rgba(0,0,0,0.298039) ;
			  text-shadow: 5px 5px 1px rgba(0,0,0,0.2) ;
			  -webkit-transform: rotateX(20.05352282957881deg) rotateY(-38.96113006889598deg)   ;
			  transform: rotateX(20.05352282957881deg) rotateY(-38.96113006889598deg)   ;
			}






<script src="SFNSDisplay-Ultralight.font.js" type="text/javascript"></script>
		<script type="text/javascript">
			Cufon.replace('h1'); // Works without a selector engine
			Cufon.replace('#sub1'); // Requires a selector engine for IE 6-7, see above

		</script>

		<script src="SFNSDisplay-Ultralight.font.js" type="text/javascript"></script>
		<script type="text/javascript">
			Cufon.replace('p'); // Works without a selector engine
			Cufon.replace('#sub1'); // Requires a selector engine for IE 6-7, see above
			
		</script>


<script src="SFNSDisplay-Ultralight.font.js" type="text/javascript"></script>
		<script type="text/javascript">
			Cufon.replace('h2'); // Works without a selector engine
			Cufon.replace('#sub1'); // Requires a selector engine for IE 6-7, see above

		</script>

		<script src="SFNSDisplay-Ultralight.font.js" type="text/javascript"></script>
		<script type="text/javascript">
			Cufon.replace('h3'); // Works without a selector engine
			Cufon.replace('#sub1'); // Requires a selector engine for IE 6-7, see above
			
		</script>



<script src="SFNSDisplay-Ultralight.font.js" type="text/javascript"></script>
		<script type="text/javascript">
			Cufon.replace('h4'); // Works without a selector engine
			Cufon.replace('#sub1'); // Requires a selector engine for IE 6-7, see above

		</script>

		<script src="SFNSDisplay-Ultralight.font.js" type="text/javascript"></script>
		<script type="text/javascript">
			Cufon.replace('5'); // Works without a selector engine
			Cufon.replace('#sub1'); // Requires a selector engine for IE 6-7, see above
			
		</script>



<script src="SFNSDisplay-Ultralight.font.js" type="text/javascript"></script>
		<script type="text/javascript">
			Cufon.replace('h6'); // Works without a selector engine
			Cufon.replace('#sub1'); // Requires a selector engine for IE 6-7, see above

		</script>


#divfix {
       bottom: 0;
       right: 0;
       position: fixed;
       z-index: 3000;
        }