@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto'), local('Roboto-Regular'), url(./CrYjSnGjrRCn0pd9VQsnFOvvDin1pK8aKteLpeZ5c0A.woff) format('woff');
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: local('Roboto Bold'), local('Roboto-Bold'), url(./d-6IYplOFocCacKzxwXSOLO3LdcAZYWl9Si6vvxL-qU.woff) format('woff');
}

@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: local('Material Icons'), local('MaterialIcons-Regular'), url(./2fcrYFNaTjcS6g4U3t-Y5RV6cRhDpPC5P4GCEJpqGoc.woff) format('woff');
}

.test {
    padding: 20px;
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}


/*
.fixed-action-btn {
    position: fixed;
    right: 23px;
    bottom: 23px;
    padding-top: 15px;
    margin-bottom: 0;
    z-index: 998
}

.fixed-action-btn.active ul {
    visibility: visible
}

.fixed-action-btn.horizontal {
    padding: 0 0 0 15px
}

.fixed-action-btn.horizontal ul {
    text-align: right;
    right: 64px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    height: 100%;
    left: auto;
    width: 500px
}

.fixed-action-btn.horizontal ul li {
    display: inline-block;
    margin: 15px 15px 0 0
}

.fixed-action-btn ul {
    left: 0;
    right: 0;
    text-align: center;
    position: absolute;
    bottom: 64px;
    margin: 0;
    visibility: hidden
}

.fixed-action-btn ul li {
    margin-bottom: 15px
}

.fixed-action-btn ul a.btn-floating {
    opacity: 0
}

.z-depth-1, nav, .card-panel, .card, .toast, .btn, .btn-large, .btn-floating,
.dropdown-content, .collapsible, .side-nav {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12)
}

.z-depth-1-half, .btn:hover, .btn-large:hover, .btn-floating:hover {
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15)
}

nav ul a.btn, nav ul a.btn-large, nav ul a.btn-large, nav ul a.btn-flat,
nav ul a.btn-floating {
    margin-top: -2px;
    margin-left: 15px;
    margin-right: 15px
}


.btn.disabled, .disabled.btn-large, .btn-floating.disabled, .btn-large.disabled,
.btn:disabled, .btn-large:disabled, .btn-large:disabled, .btn-floating:disabled,
.btn[disabled], [disabled].btn-large, .btn-large[disabled], .btn-floating[disabled] {
    background-color: #DFDFDF !important;
    box-shadow: none;
    color: #9F9F9F !important;
    cursor: default
}

.btn.disabled * , .disabled.btn-large * , .btn-floating.disabled * ,
.btn-large.disabled * , .btn:disabled * , .btn-large:disabled * , .btn-large:disabled * ,
.btn-floating:disabled * , .btn[disabled] * , [disabled].btn-large * ,
.btn-large[disabled] * , .btn-floating[disabled] * {
    pointer-events: none
}

.btn.disabled:hover, .disabled.btn-large:hover, .btn-floating.disabled:hover,
.btn-large.disabled:hover, .btn:disabled:hover, .btn-large:disabled:hover,
.btn-large:disabled:hover, .btn-floating:disabled:hover, .btn[disabled]:hover,
[disabled].btn-large:hover, .btn-large[disabled]:hover, .btn-floating[disabled]:hover {
    background-color: #DFDFDF !important;
    color: #9F9F9F !important
}

.btn i, .btn-large i, .btn-floating i, .btn-large i, .btn-flat i {
    font-size: 1.3rem;
    line-height: inherit
}

.btn-floating {
    display: inline-block;
    color: #fff;
    position: relative;
    overflow: hidden;
    z-index: 1;
    width: 37px;
    height: 37px;
    line-height: 37px;
    padding: 0;
    background-color: #26a69a;
    border-radius: 50%;
    transition: .3s;
    cursor: pointer;
    vertical-align: middle
}

.btn-floating i {
    width: inherit;
    display: inline-block;
    text-align: center;
    color: #fff;
    font-size: 1.6rem;
    line-height: 37px
}

.btn-floating:hover {
    background-color: #26a69a
}

.btn-floating:before {
    border-radius: 0
}

.btn-floating.btn-large {
    width: 55.5px;
    height: 55.5px
}

.btn-floating.btn-large i {
    line-height: 55.5px
}

button.btn-floating {
    border: none
}

.fixed-action-btn ul a.btn-floating {
    opacity: 0
}

.side-nav a.btn, .side-nav a.btn-large, .side-nav a.btn-large, .side-nav a.btn-flat,
.side-nav a.btn-floating {
    margin: 10px 15px
}

.side-nav a.btn, .side-nav a.btn-large, .side-nav a.btn-large, .side-nav a.btn-floating {
    color: #fff
}

.side-nav a.btn-floating:hover {
    background-color: #26a69a
}

.toast .btn, .toast .btn-large, .toast .btn-flat {
    margin: 0;
    margin-left: 3rem
}
.btn, .btn-large, .btn-flat {
    border: none;
    border-radius: 2px;
    display: inline-block;
    height: 36px;
    line-height: 36px;
    outline: 0;
    padding: 0 2rem;
    text-transform: uppercase;
    vertical-align: middle;
    -webkit-tap-highlight-color: transparent
}

.btn, .btn-large {
    text-decoration: none;
    color: #fff;
    background-color: #26a69a;
    text-align: center;
    letter-spacing: .5px;
    transition: .2s ease-out;
    cursor: pointer
}

.btn:hover, .btn-large:hover {
    background-color: #2bbbad
}

.btn-large {
    height: 54px;
    line-height: 54px
}

.btn-large i {
    font-size: 1.6rem
}
.modal .modal-footer .btn, .modal .modal-footer .btn-large, .modal .modal-footer .btn-flat {
    float: right;
    margin: 6px 0
}
.file-field .btn, .file-field .btn-large {
    float: left;
    height: 3rem;
    line-height: 3rem
}
.side-nav a.btn:hover, .side-nav a.btn-large:hover, .side-nav a.btn-large:hover {
    background-color: #2bbbad
}

.waves-color-demo .btn:not(.waves-light), .waves-color-demo .btn-large:not(.waves-light) {
    background-color: #fff;
    color: #212121
}
*/

header {
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.8);
    background: #009688;
    color: #FFF;
    padding: 0 !important;
    height: 64px !important;
    /*
    position: absolute!important;
    top: auto !important;
*/
    position: fixed!important;
    top: 0!important;
    margin-bottom: 0 !important;
    display: block;
    width: 100%;
    line-height: 32px;
    z-index: 99999;
}

.header {
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.8);
    background: #009688;
    color: #FFF;
    padding: 0 !important;
    height: 64px !important;
    /*
    position: absolute!important;
    top: auto !important;
*/
    position: fixed!important;
    top: 0!important;
    margin-bottom: 0 !important;
    display: block;
    width: 100%;
    line-height: 32px;
    z-index: 99999;
}

.header-title {
    color: #FFF;
    padding-left: 5%;
    padding-right: 5%;
}


/*
.header-title h2 {
    color: #FFF;
    padding-left: 5%;
    padding-right: 5%;
}
*/

body {
    font-family: Roboto, Arial, Helvetica;
    margin: 0
}

a {
    text-decoration: none;
}

.clearfix:after,
.tools_wrap .tool:nth-child(4n + 1) {
    clear: both
}

.tools_wrap .tool {
    margin: 15px;
    flex: 1 1 auto;
    width: 23%;
    opacity: 0;
    border-radius: 5px;
    /*    -moz-box-shadow: 0 1px 5px 0 rgba(0, 0, 0, .3);*/
    /*    -webkit-box-shadow: 0 1px 5px 0 rgba(0, 0, 0, .3);*/
    /*    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, .3);*/
    background: #fff;
    overflow: hidden;
    transition: all .3s ease 0s;
    border-style: solid;
    border-width: 0.5px;
    border-color: darkgrey;
}

.tools_wrap .tool_list {
    margin: 35px;
    display: flex;
    flex-wrap: wrap
}


/*
.tools_wrap .tool:hover {
    
    border-radius: 5px;
    -moz-box-shadow: 0 1px 5px 0 rgba(0, 0, 0, .3);
    -webkit-box-shadow: 0 1px 5px 0 rgba(0, 0, 0, .3);
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, .3);
    background: #e0e0e0;
    filter: brightness(88%);
    overflow: hidden;
    transition: all .3s ease 0s
}
*/

.tools_wrap .tool:hover {
    background-image: #fff;
    -moz-box-shadow: 0 10px 15px 0 rgba(0, 0, 0, .5);
    -webkit-box-shadow: 0 10px 15px 0 rgba(0, 0, 0, .5);
    box-shadow: 0 10px 15px 0 rgba(0, 0, 0, .5);
    -moz-transform: translate3D(0, -10px, 0);
    -webkit-transform: translate3D(0, -10px, 0);
    transform: translate3D(0, -10px, 0);
    position: relative;
    /*    z-index: 3*/
}

.tools_wrap .tool:active {
    background: #fff;
    -moz-box-shadow: 0 1px 15px 0 rgba(0, 0, 0, .5);
    -webkit-box-shadow: 0 1px 15px 0 rgba(0, 0, 0, .5);
    box-shadow: 0 1px 15px 0 rgba(0, 0, 0, .5);
    -moz-transform: translate3D(0, -5px, 0);
    -webkit-transform: translate3D(0, -5px, 0);
    transform: translate3D(0, -5px, 0);
    position: relative;
    /*    filter: brightness(88%);*/
    /*    z-index: 3*/
}

.released {
    margin: 15px;
    flex: 1 1 auto;
    width: 23%;
    border-radius: 5px;
    /*    -moz-box-shadow: 0 1px 5px 0 rgba(0, 0, 0, .3);*/
    /*    -webkit-box-shadow: 0 1px 5px 0 rgba(0, 0, 0, .3);*/
    /*    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, .3);*/
    background: #fff;
    overflow: hidden;
    transition: all .3s ease 0s
}

.tools_wrap a {
    color: #000
}

@media only screen and (max-width:2800) {
    .tools_wrap .tool {
        width: 18%
    }
    .tools_wrap .tool:nth-child(4n + 1) {
        clear: none
    }
    .tools_wrap .tool:nth-child(3n + 1) {
        clear: both
    }
}

@media only screen and (max-width:1400px) {
    .tools_wrap .tool {
        width: 22%
    }
    .tools_wrap .tool:nth-child(4n + 1) {
        clear: none
    }
    .tools_wrap .tool:nth-child(3n + 1) {
        clear: both
    }
}

@media only screen and (max-width:1200px) {
    .tools_wrap .tool {
        width: 30%
    }
    .tools_wrap .tool:nth-child(4n + 1) {
        clear: none
    }
    .tools_wrap .tool:nth-child(3n + 1) {
        clear: both
    }
}

@media only screen and (max-width:992px) {
    .tools_wrap .tool {
        width: 40%
    }
    .tools_wrap .tool:nth-child(2n + 1) {
        clear: both
    }
    .tools_wrap .tool:nth-child(3n + 1) {
        clear: none
    }
}

@media only screen and (max-width:768px) {
    .tools_wrap .tool_list {
        padding: 10px
    }
    .tools_wrap .tool {
        width: 80%
    }
    .tools_wrap .tool:nth-child(2n + 1) {
        clear: none
    }
}