/* Compiled by AOS */
@charset "UTF-8";
.pd-l-plate {
    position: relative;
    margin: 0 auto;
    width: 980px
}

@media only screen and (max-width:736px) and (max-device-width:768px) {
    .pd-l-plate {
        width: 84%
    }
}

.pd-l-plate-scale {
    position: relative;
    margin: 0;
    width: 100%
}

.pd-l-half {
    width: 50%;
    float: left
}

.pd-l-half + .pd-l-half {
    float: right
}

.pd-theme-dark {
    color: #fff;
    text-shadow: 0 0 30px rgba(0, 0, 0, .5)
}

.pd-theme-dark a {
    color: #fff;
    text-shadow: none
}

.pd-theme-light, .pd-theme-light a {
    color: #333
}

.as-pinwheel11-section.as-pinwheel11-tile1 h2.tile-body.pd-util-pinwheel-font-size-64 {
    font-size: 64px;
    line-height: 1.06;
    font-weight: 200;
    letter-spacing: normal
}

html.oldie .as-pinwheel11-section.as-pinwheel11-tile1 h2.tile-body.pd-util-pinwheel-font-size-64 {
    font-weight: 400;
    font-family: "Myriad Set Pro 200", "Myriad Set Pro", "Helvetica Neue", Helvetica, Arial, sans-serif
}

html.oldie html[lang=ja-JP] .as-pinwheel11-section.as-pinwheel11-tile1 h2.tile-body.pd-util-pinwheel-font-size-64 {
    font-family: "Apple TP 200", "Apple TP", "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "Helvetica Neue", Helvetica, Arial, sans-serif
}

html.oldie html[lang=zh-CN] .as-pinwheel11-section.as-pinwheel11-tile1 h2.tile-body.pd-util-pinwheel-font-size-64 {
    font-family: "PingHei 200", PingHei, "Helvetica Neue", Helvetica, STHeitiSC-Light, Arial, sans-serif
}

html.oldie html[lang=zh-HK] .as-pinwheel11-section.as-pinwheel11-tile1 h2.tile-body.pd-util-pinwheel-font-size-64,
html.oldie html[lang=zh-TW] .as-pinwheel11-section.as-pinwheel11-tile1 h2.tile-body.pd-util-pinwheel-font-size-64 {
    font-family: "MHei 200", MHei, "Helvetica Neue", Helvetica, STHeitiTC-Light, Arial, sans-serif
}

html.oldie html[lang=th-TH] .as-pinwheel11-section.as-pinwheel11-tile1 h2.tile-body.pd-util-pinwheel-font-size-64 {
    font-family: "Sukhumvit Set 200", "Sukhumvit Set", "Helvetica Neue", Helvetica, Arial, sans-serif
}

html.oldie html[lang=ko-KR] .as-pinwheel11-section.as-pinwheel11-tile1 h2.tile-body.pd-util-pinwheel-font-size-64 {
    font-family: "Yoon Gothic 200", "Yoon Gothic", "Apple Gothic", "HY Gulim", MalgumGothic, "HY Dotum", "Lexi Gulim", "Helvetica Neue", Helvetica, Arial, sans-serif
}

@media only screen and (max-width:736px) and (max-device-width:768px) {
    .pd-l-half, .pd-l-half + .pd-l-half {
        float: none
    }

    .pd-l-half {
        width: 100%
    }

    .as-pinwheel11-section.as-pinwheel11-tile1 h2.tile-body.pd-util-pinwheel-font-size-64 {
        font-size: 36px;
        line-height: 1.11;
        font-weight: 200;
        letter-spacing: normal
    }
}

.as-pinwheel11-section.as-pinwheel11-tile1 h2.tile-body.pd-util-pinwheel-font-size-42 {
    font-size: 42px;
    line-height: 1.14;
    font-weight: 200;
    letter-spacing: normal
}

html.oldie .as-pinwheel11-section.as-pinwheel11-tile1 h2.tile-body.pd-util-pinwheel-font-size-42 {
    font-weight: 400;
    font-family: "Myriad Set Pro 200", "Myriad Set Pro", "Helvetica Neue", Helvetica, Arial, sans-serif
}

html.oldie html[lang=ja-JP] .as-pinwheel11-section.as-pinwheel11-tile1 h2.tile-body.pd-util-pinwheel-font-size-42 {
    font-family: "Apple TP 200", "Apple TP", "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "Helvetica Neue", Helvetica, Arial, sans-serif
}

html.oldie html[lang=zh-CN] .as-pinwheel11-section.as-pinwheel11-tile1 h2.tile-body.pd-util-pinwheel-font-size-42 {
    font-family: "PingHei 200", PingHei, "Helvetica Neue", Helvetica, STHeitiSC-Light, Arial, sans-serif
}

html.oldie html[lang=zh-HK] .as-pinwheel11-section.as-pinwheel11-tile1 h2.tile-body.pd-util-pinwheel-font-size-42,
html.oldie html[lang=zh-TW] .as-pinwheel11-section.as-pinwheel11-tile1 h2.tile-body.pd-util-pinwheel-font-size-42 {
    font-family: "MHei 200", MHei, "Helvetica Neue", Helvetica, STHeitiTC-Light, Arial, sans-serif
}

html.oldie html[lang=th-TH] .as-pinwheel11-section.as-pinwheel11-tile1 h2.tile-body.pd-util-pinwheel-font-size-42 {
    font-family: "Sukhumvit Set 200", "Sukhumvit Set", "Helvetica Neue", Helvetica, Arial, sans-serif
}

html.oldie html[lang=ko-KR] .as-pinwheel11-section.as-pinwheel11-tile1 h2.tile-body.pd-util-pinwheel-font-size-42 {
    font-family: "Yoon Gothic 200", "Yoon Gothic", "Apple Gothic", "HY Gulim", MalgumGothic, "HY Dotum", "Lexi Gulim", "Helvetica Neue", Helvetica, Arial, sans-serif
}

@media only screen and (max-width:736px) and (max-device-width:768px) {
    .as-pinwheel11-section.as-pinwheel11-tile1 h2.tile-body.pd-util-pinwheel-font-size-42 {
        font-size: 28px;
        line-height: 1.14;
        font-weight: 200;
        letter-spacing: normal
    }
}

.as-pinwheel11-section.as-pinwheel11-tile1 h2.tile-body.pd-util-pinwheel-font-size-32 {
    font-size: 32px;
    line-height: 1.13;
    font-weight: 200;
    letter-spacing: normal
}

html.oldie .as-pinwheel11-section.as-pinwheel11-tile1 h2.tile-body.pd-util-pinwheel-font-size-32 {
    font-weight: 400;
    font-family: "Myriad Set Pro 200", "Myriad Set Pro", "Helvetica Neue", Helvetica, Arial, sans-serif
}

html.oldie html[lang=ja-JP] .as-pinwheel11-section.as-pinwheel11-tile1 h2.tile-body.pd-util-pinwheel-font-size-32 {
    font-family: "Apple TP 200", "Apple TP", "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "Helvetica Neue", Helvetica, Arial, sans-serif
}

html.oldie html[lang=zh-CN] .as-pinwheel11-section.as-pinwheel11-tile1 h2.tile-body.pd-util-pinwheel-font-size-32 {
    font-family: "PingHei 200", PingHei, "Helvetica Neue", Helvetica, STHeitiSC-Light, Arial, sans-serif
}

html.oldie html[lang=zh-HK] .as-pinwheel11-section.as-pinwheel11-tile1 h2.tile-body.pd-util-pinwheel-font-size-32,
html.oldie html[lang=zh-TW] .as-pinwheel11-section.as-pinwheel11-tile1 h2.tile-body.pd-util-pinwheel-font-size-32 {
    font-family: "MHei 200", MHei, "Helvetica Neue", Helvetica, STHeitiTC-Light, Arial, sans-serif
}

html.oldie html[lang=th-TH] .as-pinwheel11-section.as-pinwheel11-tile1 h2.tile-body.pd-util-pinwheel-font-size-32 {
    font-family: "Sukhumvit Set 200", "Sukhumvit Set", "Helvetica Neue", Helvetica, Arial, sans-serif
}

html.oldie html[lang=ko-KR] .as-pinwheel11-section.as-pinwheel11-tile1 h2.tile-body.pd-util-pinwheel-font-size-32 {
    font-family: "Yoon Gothic 200", "Yoon Gothic", "Apple Gothic", "HY Gulim", MalgumGothic, "HY Dotum", "Lexi Gulim", "Helvetica Neue", Helvetica, Arial, sans-serif
}

@media only screen and (max-width:736px) and (max-device-width:768px) {
    .as-pinwheel11-section.as-pinwheel11-tile1 h2.tile-body.pd-util-pinwheel-font-size-32 {
        font-size: 24px;
        line-height: 1.17;
        font-weight: 200;
        letter-spacing: normal
    }
}

.as-pinwheel11-section.as-pinwheel11-tile1 h2.tile-body.pd-util-pinwheel-font-size-24 {
    font-size: 24px;
    line-height: 1.35;
    font-weight: 200;
    letter-spacing: normal
}

html.oldie .as-pinwheel11-section.as-pinwheel11-tile1 h2.tile-body.pd-util-pinwheel-font-size-24 {
    font-weight: 400;
    font-family: "Myriad Set Pro 200", "Myriad Set Pro", "Helvetica Neue", Helvetica, Arial, sans-serif
}

html.oldie html[lang=ja-JP] .as-pinwheel11-section.as-pinwheel11-tile1 h2.tile-body.pd-util-pinwheel-font-size-24 {
    font-family: "Apple TP 200", "Apple TP", "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "Helvetica Neue", Helvetica, Arial, sans-serif
}

html.oldie html[lang=zh-CN] .as-pinwheel11-section.as-pinwheel11-tile1 h2.tile-body.pd-util-pinwheel-font-size-24 {
    font-family: "PingHei 200", PingHei, "Helvetica Neue", Helvetica, STHeitiSC-Light, Arial, sans-serif
}

html.oldie html[lang=zh-HK] .as-pinwheel11-section.as-pinwheel11-tile1 h2.tile-body.pd-util-pinwheel-font-size-24,
html.oldie html[lang=zh-TW] .as-pinwheel11-section.as-pinwheel11-tile1 h2.tile-body.pd-util-pinwheel-font-size-24 {
    font-family: "MHei 200", MHei, "Helvetica Neue", Helvetica, STHeitiTC-Light, Arial, sans-serif
}

html.oldie html[lang=th-TH] .as-pinwheel11-section.as-pinwheel11-tile1 h2.tile-body.pd-util-pinwheel-font-size-24 {
    font-family: "Sukhumvit Set 200", "Sukhumvit Set", "Helvetica Neue", Helvetica, Arial, sans-serif
}

html.oldie html[lang=ko-KR] .as-pinwheel11-section.as-pinwheel11-tile1 h2.tile-body.pd-util-pinwheel-font-size-24 {
    font-family: "Yoon Gothic 200", "Yoon Gothic", "Apple Gothic", "HY Gulim", MalgumGothic, "HY Dotum", "Lexi Gulim", "Helvetica Neue", Helvetica, Arial, sans-serif
}

@media only screen and (max-width:736px) and (max-device-width:768px) {
    .as-pinwheel11-section.as-pinwheel11-tile1 h2.tile-body.pd-util-pinwheel-font-size-24 {
        font-size: 20px;
        line-height: 1.4;
        font-weight: 200;
        letter-spacing: normal
    }
}

.as-pinwheel11-section.as-pinwheel11-tile1 h3.tile-body.pd-util-pinwheel-font-size-64 {
    font-size: 64px;
    line-height: 1.06;
    font-weight: 200;
    letter-spacing: normal
}

html.oldie .as-pinwheel11-section.as-pinwheel11-tile1 h3.tile-body.pd-util-pinwheel-font-size-64 {
    font-weight: 400;
    font-family: "Myriad Set Pro 200", "Myriad Set Pro", "Helvetica Neue", Helvetica, Arial, sans-serif
}

html.oldie html[lang=ja-JP] .as-pinwheel11-section.as-pinwheel11-tile1 h3.tile-body.pd-util-pinwheel-font-size-64 {
    font-family: "Apple TP 200", "Apple TP", "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "Helvetica Neue", Helvetica, Arial, sans-serif
}

html.oldie html[lang=zh-CN] .as-pinwheel11-section.as-pinwheel11-tile1 h3.tile-body.pd-util-pinwheel-font-size-64 {
    font-family: "PingHei 200", PingHei, "Helvetica Neue", Helvetica, STHeitiSC-Light, Arial, sans-serif
}

html.oldie html[lang=zh-HK] .as-pinwheel11-section.as-pinwheel11-tile1 h3.tile-body.pd-util-pinwheel-font-size-64,
html.oldie html[lang=zh-TW] .as-pinwheel11-section.as-pinwheel11-tile1 h3.tile-body.pd-util-pinwheel-font-size-64 {
    font-family: "MHei 200", MHei, "Helvetica Neue", Helvetica, STHeitiTC-Light, Arial, sans-serif
}

html.oldie html[lang=th-TH] .as-pinwheel11-section.as-pinwheel11-tile1 h3.tile-body.pd-util-pinwheel-font-size-64 {
    font-family: "Sukhumvit Set 200", "Sukhumvit Set", "Helvetica Neue", Helvetica, Arial, sans-serif
}

html.oldie html[lang=ko-KR] .as-pinwheel11-section.as-pinwheel11-tile1 h3.tile-body.pd-util-pinwheel-font-size-64 {
    font-family: "Yoon Gothic 200", "Yoon Gothic", "Apple Gothic", "HY Gulim", MalgumGothic, "HY Dotum", "Lexi Gulim", "Helvetica Neue", Helvetica, Arial, sans-serif
}

@media only screen and (max-width:736px) and (max-device-width:768px) {
    .as-pinwheel11-section.as-pinwheel11-tile1 h3.tile-body.pd-util-pinwheel-font-size-64 {
        font-size: 36px;
        line-height: 1.11;
        font-weight: 200;
        letter-spacing: normal
    }
}

.as-pinwheel11-section.as-pinwheel11-tile1 h3.tile-body.pd-util-pinwheel-font-size-42 {
    font-size: 42px;
    line-height: 1.14;
    font-weight: 200;
    letter-spacing: normal
}

html.oldie .as-pinwheel11-section.as-pinwheel11-tile1 h3.tile-body.pd-util-pinwheel-font-size-42 {
    font-weight: 400;
    font-family: "Myriad Set Pro 200", "Myriad Set Pro", "Helvetica Neue", Helvetica, Arial, sans-serif
}

html.oldie html[lang=ja-JP] .as-pinwheel11-section.as-pinwheel11-tile1 h3.tile-body.pd-util-pinwheel-font-size-42 {
    font-family: "Apple TP 200", "Apple TP", "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "Helvetica Neue", Helvetica, Arial, sans-serif
}

html.oldie html[lang=zh-CN] .as-pinwheel11-section.as-pinwheel11-tile1 h3.tile-body.pd-util-pinwheel-font-size-42 {
    font-family: "PingHei 200", PingHei, "Helvetica Neue", Helvetica, STHeitiSC-Light, Arial, sans-serif
}

html.oldie html[lang=zh-HK] .as-pinwheel11-section.as-pinwheel11-tile1 h3.tile-body.pd-util-pinwheel-font-size-42,
html.oldie html[lang=zh-TW] .as-pinwheel11-section.as-pinwheel11-tile1 h3.tile-body.pd-util-pinwheel-font-size-42 {
    font-family: "MHei 200", MHei, "Helvetica Neue", Helvetica, STHeitiTC-Light, Arial, sans-serif
}

html.oldie html[lang=th-TH] .as-pinwheel11-section.as-pinwheel11-tile1 h3.tile-body.pd-util-pinwheel-font-size-42 {
    font-family: "Sukhumvit Set 200", "Sukhumvit Set", "Helvetica Neue", Helvetica, Arial, sans-serif
}

html.oldie html[lang=ko-KR] .as-pinwheel11-section.as-pinwheel11-tile1 h3.tile-body.pd-util-pinwheel-font-size-42 {
    font-family: "Yoon Gothic 200", "Yoon Gothic", "Apple Gothic", "HY Gulim", MalgumGothic, "HY Dotum", "Lexi Gulim", "Helvetica Neue", Helvetica, Arial, sans-serif
}

@media only screen and (max-width:736px) and (max-device-width:768px) {
    .as-pinwheel11-section.as-pinwheel11-tile1 h3.tile-body.pd-util-pinwheel-font-size-42 {
        font-size: 28px;
        line-height: 1.14;
        font-weight: 200;
        letter-spacing: normal
    }
}

.as-pinwheel11-section.as-pinwheel11-tile1 h3.tile-body.pd-util-pinwheel-font-size-32 {
    font-size: 32px;
    line-height: 1.13;
    font-weight: 200;
    letter-spacing: normal
}

html.oldie .as-pinwheel11-section.as-pinwheel11-tile1 h3.tile-body.pd-util-pinwheel-font-size-32 {
    font-weight: 400;
    font-family: "Myriad Set Pro 200", "Myriad Set Pro", "Helvetica Neue", Helvetica, Arial, sans-serif
}

html.oldie html[lang=ja-JP] .as-pinwheel11-section.as-pinwheel11-tile1 h3.tile-body.pd-util-pinwheel-font-size-32 {
    font-family: "Apple TP 200", "Apple TP", "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "Helvetica Neue", Helvetica, Arial, sans-serif
}

html.oldie html[lang=zh-CN] .as-pinwheel11-section.as-pinwheel11-tile1 h3.tile-body.pd-util-pinwheel-font-size-32 {
    font-family: "PingHei 200", PingHei, "Helvetica Neue", Helvetica, STHeitiSC-Light, Arial, sans-serif
}

html.oldie html[lang=zh-HK] .as-pinwheel11-section.as-pinwheel11-tile1 h3.tile-body.pd-util-pinwheel-font-size-32,
html.oldie html[lang=zh-TW] .as-pinwheel11-section.as-pinwheel11-tile1 h3.tile-body.pd-util-pinwheel-font-size-32 {
    font-family: "MHei 200", MHei, "Helvetica Neue", Helvetica, STHeitiTC-Light, Arial, sans-serif
}

html.oldie html[lang=th-TH] .as-pinwheel11-section.as-pinwheel11-tile1 h3.tile-body.pd-util-pinwheel-font-size-32 {
    font-family: "Sukhumvit Set 200", "Sukhumvit Set", "Helvetica Neue", Helvetica, Arial, sans-serif
}

html.oldie html[lang=ko-KR] .as-pinwheel11-section.as-pinwheel11-tile1 h3.tile-body.pd-util-pinwheel-font-size-32 {
    font-family: "Yoon Gothic 200", "Yoon Gothic", "Apple Gothic", "HY Gulim", MalgumGothic, "HY Dotum", "Lexi Gulim", "Helvetica Neue", Helvetica, Arial, sans-serif
}

@media only screen and (max-width:736px) and (max-device-width:768px) {
    .as-pinwheel11-section.as-pinwheel11-tile1 h3.tile-body.pd-util-pinwheel-font-size-32 {
        font-size: 24px;
        line-height: 1.17;
        font-weight: 200;
        letter-spacing: normal
    }
}

.as-pinwheel11-section.as-pinwheel11-tile1 h3.tile-body.pd-util-pinwheel-font-size-24 {
    font-size: 24px;
    line-height: 1.35;
    font-weight: 200;
    letter-spacing: normal
}

html.oldie .as-pinwheel11-section.as-pinwheel11-tile1 h3.tile-body.pd-util-pinwheel-font-size-24 {
    font-weight: 400;
    font-family: "Myriad Set Pro 200", "Myriad Set Pro", "Helvetica Neue", Helvetica, Arial, sans-serif
}

html.oldie html[lang=ja-JP] .as-pinwheel11-section.as-pinwheel11-tile1 h3.tile-body.pd-util-pinwheel-font-size-24 {
    font-family: "Apple TP 200", "Apple TP", "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "Helvetica Neue", Helvetica, Arial, sans-serif
}

html.oldie html[lang=zh-CN] .as-pinwheel11-section.as-pinwheel11-tile1 h3.tile-body.pd-util-pinwheel-font-size-24 {
    font-family: "PingHei 200", PingHei, "Helvetica Neue", Helvetica, STHeitiSC-Light, Arial, sans-serif
}

html.oldie html[lang=zh-HK] .as-pinwheel11-section.as-pinwheel11-tile1 h3.tile-body.pd-util-pinwheel-font-size-24,
html.oldie html[lang=zh-TW] .as-pinwheel11-section.as-pinwheel11-tile1 h3.tile-body.pd-util-pinwheel-font-size-24 {
    font-family: "MHei 200", MHei, "Helvetica Neue", Helvetica, STHeitiTC-Light, Arial, sans-serif
}

html.oldie html[lang=th-TH] .as-pinwheel11-section.as-pinwheel11-tile1 h3.tile-body.pd-util-pinwheel-font-size-24 {
    font-family: "Sukhumvit Set 200", "Sukhumvit Set", "Helvetica Neue", Helvetica, Arial, sans-serif
}

html.oldie html[lang=ko-KR] .as-pinwheel11-section.as-pinwheel11-tile1 h3.tile-body.pd-util-pinwheel-font-size-24 {
    font-family: "Yoon Gothic 200", "Yoon Gothic", "Apple Gothic", "HY Gulim", MalgumGothic, "HY Dotum", "Lexi Gulim", "Helvetica Neue", Helvetica, Arial, sans-serif
}

@media only screen and (max-width:736px) and (max-device-width:768px) {
    .as-pinwheel11-section.as-pinwheel11-tile1 h3.tile-body.pd-util-pinwheel-font-size-24 {
        font-size: 20px;
        line-height: 1.4;
        font-weight: 200;
        letter-spacing: normal
    }
}

.as-pinwheel11-section.as-pinwheel11-tile1 h2.tile-body {
    font-size: 52px;
    line-height: 56px;
    font-weight: 200
}

@media only screen and (max-device-width:768px) and (max-width:736px) {
    .as-pinwheel11-section.as-pinwheel11-tile1 h2.tile-body {
        font-size: 32px;
        line-height: 36px;
        font-weight: 200
    }
}

@media only screen and (min-device-width:768px) and (min-width:736px) {
    .as-pinwheel11-section.as-pinwheel11-tile1 h2 {
        padding: 0 20px;
        font-size: 52px;
        line-height: 56px;
        display: inline-block;
        font-weight: 200
    }

    .hu .as-pinwheel11-section.as-pinwheel11-tile1 h2 {
        padding: 0
    }

    .as-pinwheel11-section.as-pinwheel11-tile1 .marketing-tile {
        display: table-cell;
        vertical-align: middle
    }

    .as-pinwheel11-section.as-pinwheel11-tile1.as-pinwheel11-smalltileright {
        border-left: 10px solid #fff
    }

    .as-pinwheel11-section.as-pinwheel11-tile1 .tile .marketing-tile {
        display: inline-block
    }

    .as-pinwheel11-section.as-pinwheel11-tile1 {
        text-align: center;
        height: 365px;
        display: table;
        width: 346px
    }

    .as-pinwheel11-section.as-pinwheel11-tile1 .as-marketing-tile {
        display: table-cell;
        vertical-align: middle
    }

    .as-pinwheel11-section.as-pinwheel11-tile1 div {
        padding: 0;
        display: block
    }

    .as-pinwheel11-section.as-pinwheel11-tile1 .tile-body {
        font-size: 52px;
        line-height: 56px;
        font-weight: 200
    }

    .as-pinwheel11-section .as-pinwheel-tile {
        border: 5px solid #fff
    }

    .as-pinwheel11-section.as-pinwheel11-tile5 .as-pinwheel-tile {
        margin-left: 0
    }

    .as-pinwheel11-section.as-pinwheel11-smalltileright.as-pinwheel11-tile3 .as-pinwheel-tile {
        border-left: 5px solid #fff
    }

    .as-pinwheel11-section .as-pinwheel-tileheroimage {
        width: 266px
    }

    .as-categories-allcategorybutton:hover {
        text-decoration: underline
    }

    .as-pinwheel11-section.as-pinwheel11-smalltileleft.as-pinwheel11-tile1 {
        border-right: none
    }
}

@media only screen and (max-device-width:768px) and (max-width:736px) {
    .en .as-accessories-search .as-accessories-searchbox h2 span {
        width: 220px;
        display: inline-block
    }
}


